###
 # Minify Multitool
 #  
 #	Combines, minifies, and caches JS and CSS
 #
 #	Example URLS
 #		/minify?v=12&f=css/base.css,bootstrap.less,index.css
 #		/minify?v=123&f=js/base.js,index.js
 ##

### No indexing
	Options -Indexes

### Turn the rewrite engine on
	RewriteEngine on
	Options +FollowSymlinks

## Redirect requests to the cache
	### Replace slashes and commas with underscores
		RewriteCond %{QUERY_STRING} 	^(.*)[\/|,](.*)$
		RewriteRule ^(.*)$				$1?%1_%2			[N]
	### Redirect requests to the cache
		RewriteCond %{QUERY_STRING}		^v=(.*)&f=(.*)$
		RewriteRule ^(.*)$				cache/v%1_%2?		[NC,L]
	### If the cache file doesn't exist, process
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteRule ^(.*)$				index.php			[NC,L]

### Optimization
	### Cache everything for a year
		<ifModule mod_headers.c>
			Header set Cache-Control "max-age=29030400, public"
		</ifModule>

	## GZIP (+)
		<IfModule mod_deflate.c>
			SetOutputFilter DEFLATE
		</IfModule>

	## Remove ETags
		<ifModule mod_headers.c>
			Header unset ETag
		</ifModule>
		FileETag None